body,
html {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100dvh;
  font-family: "Antique-Legacy-Light", sans-serif;
  font-size: 12px;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 15;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

main {
  position: absolute;
  top: calc(50dvh - 1rem);
  left: 15;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

@font-face {
  font-family: "Antique-Legacy-Light";
  src: url("/FONT/Antique-Legacy-Light.woff2") format("woff2");
  font-weight: Bolder;
  font-style: normal;
}

@media only screen and (max-width: 750px) {
  header,
  main {
    font-size: 0.9rem;
    line-height: 1rem;
    overflow: hidden;
  }
}
